body {
    font-family: Arial;
    color: #333;
    margin: 10px;
  }
  h1.header {
    background-color: lightgreen;
    padding: 15px;
    text-align: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td, button, input, a.button {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  a.button {
    background-color: #eee;
  }
  th {
    background-color: #f4f4f4;
  }
  td a, a.button {
    text-decoration: none;
    padding: 10px;
    color: #007BFF;
  }
  td a:hover, a.button:hover {
    background-color: lightblue;
  }
  td.action {
   padding: 0;
  }
  